:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif ;
    --accent-color: #2196F3;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

body {
    font-family: var(--main-font);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: #212121;
}

.address-menu {
    font-style: normal;
}

.address-menu-header{
    font-style: normal;
}


.address-menu-footer {
    background-color: #2F303A;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/* =========== COMPONENTS ========== */
li.address-list-item > a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: rgba(255,255,255,0.6);
}
li.address-list-item.first> a {
    color: white;
}
/* ============ END COMPONENTS ============ */

/* ===========HEADER============= */
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.portfolio .header {
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;   
}
.nav-list-item{
    position: relative;
}

.nav-list-item.current::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    top: 45px;

    background: #2196F3;
    border-radius: 2px;
}

.header .logo{
    margin-right: 110px;
}

.nav-list-item:not(:last-child){
    margin-right: 40px;
}

.header .address-menu-header {
    margin-left: auto;
}

.header .header-mail{
    margin-right: 36px;
}

.header .logo-blue-color{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header .logo-black-color {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav-list-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item.current .nav-list-link {
    color: #2196F3;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}

.header-mail,
.header-tel{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;

    transition-property: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-mail svg,
.header-tel svg {
    fill: #757575;
    
    transition-property: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: #2196F3;
}

.header-mail:hover svg,
.header-mail:focus svg,
.header-tel:hover svg,
.header-tel:focus svg {
    fill: #2196F3;
}

.envelope-icon{
    width: 16px;
    height: 12px;
    margin-right:10px;
}
.smartphone-icon{
    width: 16px;
    height: 12px;
    margin-right:10px;
}

/* ===========END HEADER============= */

/* ===========HERO============= */
.hero{
    background-color: #2F303A;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/hero/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 205px;
    padding-bottom: 30px;
    padding-left: 281px;
    padding-right: 281px;
    color: #FFFFFF;
}
.hero-title-btn{
    min-width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 500px;
    margin-bottom: 200px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    cursor: pointer;

    color: #FFFFFF;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-title-btn:hover,
.hero-title-btn:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
/* ===========END HERO ============= */

/* ========== JOB DESCRIPTION */
.description-menu{
    padding-top: 47px;
    padding-bottom: 47px;
}
.description-list{
    display: flex;
    margin-top: 94px;
}
.description-list-item:not(:last-child){
    margin-right: 30px;
    margin-bottom: 10px;
}

.undertitle-icon-container {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: lightgray;
    border-radius: 3px;
}

.undertitle-icon {
    height: 70px;
    margin-top: 25px;
    width: 270px;
}

.undertitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #212121;
}

.description-undertitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    width: 270px;
    color: #757575;
}
/* ========== END JOB DESCRIPTION============ */

/* ===========RESPONSIBILITIES============== */
.responsibilities{
    padding-top: 47px;
    padding-bottom: 47px;
}
.responsibilities-title-list{
    display: flex;
    margin-bottom: 94px;
}

.responsibilities-title-item{
    position: relative;
}
.responsibilities-title-item:not(:last-child){
    margin-right: 30px;
}

.responsibilities-image-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 16px;
    font-size: 14px;  
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    color: #FFFFFF;
}
/* ===========END RESPONSIBILITIES============== */
/* =========== TEAM ============== */
.team{
    background-color: rgba(245,244,250,1);
    padding-top: 47px;
    padding-bottom: 47px;
}

/*
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;

    padding-top: 94px;
    padding-bottom: 50px;
    color: #212121;
}
 */

.team-title-list{
    display:flex;
    padding-bottom: 94px;
}

.team-title-item:not(:last-child){
    margin-right: 30px;
}

.team-title-item{
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.team-undertitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;

    padding-top: 30px;
    padding-bottom: 10px;

    color: #212121;
}

.team-undertitle-description{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
    color: #757575;
}
.social-list {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 20px 40px;
}

.social-list .social-list_icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition-property: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: white;
    border-radius: 50%;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
    
.social-list_link:hover .social-list_icon,
.social-list_link:focus .social-list_icon{
    fill: white;
}

.social-list_link:hover,
.social-list_link:focus{
    background-color:#2196F3;
}

/* =========== END TEAM ============== */
/* =========== CONTACT INFORMATION ============= */
.footer{
    /*height: 252px;*/
    padding-top: 47px;
}

.footer .container {
    display: flex;
}

.footer .footer-container {
    margin-left: 20px;
    align-self: baseline;
}
.footer-container.join{
    width:350px;
} 

.footer h4 {
    color: white;
}

.footer .logo{
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer {
    background-color: #30313b;
}
.footer .logo-blue-color{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.footer .logo-white-color{
    font-family: 'Raleway', sans-serif;
    font-size:26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-list{
    padding-top: 20px;
    padding-bottom: 60px;
}
.address-list-item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.6);
}
.address-list-item:not(:last-child){
    margin-bottom: 9px;
}
.footer-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-left: 70px;
}
.form-subsc{
    align-self: baseline;
    margin-left: 93px;
}
.form-subsc-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.modal-form-field-desc{
    width: 81.79px;
    height: 14.2px;
   
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: #757575;
}

.form-subsc-mail{
    width: 358px;
    height: 50px;
    border-radius: 4px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-top: 20px;
    padding-left: 16px;
}
.subsc-btn{
    position: relative;
    display: block;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    padding-right: 29px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: #FFFFFF;
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subsc-btn::after{
    position: absolute;
    top: 10px;
    right: 10px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    
    background-image:url(../Images/send.svg);
    background-size: contain;
}

.footer-btn{
    padding-top: 48px;
}

/* =========== END INFORMATION ============== */
/* ============ BACKDROP =============== */
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);

    transition-property: rgba(0, 0, 0, 0.2); 
    transition-duration: 250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
}
f
.backdrop.is-hidden{
    transition-property: rgba(0, 0, 0, 0.2); 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden.modal{
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition-property: rgba(0, 0, 0, 0.2); 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    padding-top: 18px;

    background-color: #ffffff;
    border-radius: 4px;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    visibility: visible;
}

.modal-form-title{
    width: 448px;
    height: 23px;
    margin-bottom: 12px;
    
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-left: 5px;
    margin-right: 41px;
    color: #212121;
}

.modal-form-icon{
    position: absolute;
    display: block;
    bottom: 14px;
    left: 18px;
    content:"";
    background-size: contain;
    width: 12px;
    height: 12px; 
    
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-form-field{
    position: relative;
    margin-bottom: 10px;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-bottom: 3px; 
    cursor: pointer; 
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon{
    fill: var(--accent-color);
}

.modal-form-message{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px;
    padding-bottom: 20px;
    resize: none;
}

.modal-form-message::placeholder{
    width: 416px;
    height: 96px;
    
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus{
    outline: none;
    border-color: var(--accent-color);
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-text::before{
    display: inline-block;
    width: 16px;
    height: 15px;
    content: "";
    border: 2px solid #212121; 
    margin-right: 7px;
    border-radius: 3px;
}

.modal-form-policy:checked + .modal-form-policy-text::before{
    background-image: url(../Images/check.svg);
     background-position: 0px 1px; 
    background-color: var(--accent-color);
    border: none;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 3px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 3px;
    width: 16px;
    height: 15px;   
}

.modal-form-policy-text{
    width: 425px;
    height: 24px;
    text-align: center;
    
    font-family: Roboto sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
    
}
.modal-form-policy-terms{
    width: 400px;
    height: 24px;
    margin-left: 5px;

    font-family: Roboto sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
    
}

.modal-form-btn{
    display: block;
    width: 200px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 40px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding: 10px 55px;
    cursor: pointer;
    color: #FFFFFF;
    cursor: pointer;
    
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form-btn:hover,
    .modal-form-btn:focus{
        background-color: #2196F3;
        color: #FFFFFF;
    }

    .modal-close-button{
        visibility: hidden;
    }
/* ============ END BACKDROP =============== */

/* =========== PORTFOLIO ============== */
.section-list{
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.section-list-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align:center;
    letter-spacing: 0.03em;
    border: 0;
    min-width: 101px;
    min-height: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    color: #212121;

    border-radius: 4px;
    background: #F5F4FA;
    width: 145px;
    height: 38px;
    cursor: pointer;

    transition-property: var(--accent-color);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
}
.section-list-btn:hover,
.section-list-btn:focus,
.section-list-btn.selected {
    background-color:#2196F3;
    color: white;
}
.section-list-item:not(:last-child) {
    margin-right: 8px;
    padding-bottom: 56px;
}


/* =========== END PORTFOLIO ============== */
/* ============ PROJECTS ============== */
.projects-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.projects-title-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
    justify-content: space-between;
}

.projects-list-item{
    width: 370px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(238,238,238);
    cursor: pointer;
}
.projects-list-link {
    text-decoration: none;
    width: 370px;
    display: block;
}
.projects-list-link:focus,
.projects-list-link:hover {
    box-shadow: 2px 4px 4px rgba(0,0,0,0.15);
}

.projects-list-img {
    width: 370px;
}

.projects-title{
    padding-top: 27px;
    padding-left: 24px;
    padding-bottom: 18px;
}
.projects-title-description{
    padding-left: 24px;
    padding-bottom: 18px;
}
.overlay{
    width: 322px;
    height: 168px;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.03em;

    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 19px;
    padding-right: 29px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%); 
}
.projects-list-link:hover .overlay,
.projects-list-link:focus .overlay{
    transform: translateY(0);
}

.projects-list-img-wrapper{
    position: relative;
    overflow: hidden;
}
/* =========== END PROJECTS ============== */

/* =========== START CLIENTS ============== */
.clients{
    padding-top: 47px;
    padding-bottom: 47px;
}
.clients-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;

}
.clients-list a {
    display: block;
    width: 170px;
    height: 90px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 3px;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

}
.clients-list a:hover,
.clients-list a:focus {
    border: 1px solid #2196F3;
    color: #2196F3;
}
.clients-list a svg {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    fill: #AFB1B8;
    transition-property: #2196F3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.clients-list a:hover svg,
.clients-list a:focus svg{
    fill: #2196F3;
}
/* =========== END CLIENTS ============== */

/* =========== START CLIENTS ============== */
.join-list {
    display: flex;
    padding-top: 20px;
    padding-left: 70px;
    width: 176px;
    justify-content: space-between;
}
.join-list a {
    display: block;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-align: center;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}
.join-list-item:not(:last-child){
    padding-right: 10px;
}

.join-list a:hover,
.join-list a:focus {
    background-color: #2196F3;
}
.join-list svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin: 12px;

    transition-property: white;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* =========== END CLIENTS ============== */
