.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.portfolio .header {
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;   
}

.nav-list-item{
    position: relative;
}

.nav-list-item.current::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    top: 45px;

    background: #2196F3;
    border-radius: 2px;
}

.header .logo{
    margin-right: 110px;
}

.nav-list-item:not(:last-child){
    margin-right: 40px;
}

.header .address-menu-header {
    margin-left: auto;
}

.header .header-mail{
    margin-right: 36px;
}

.header .logo-blue-color{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header .logo-black-color {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav-list-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;

    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item.current .nav-list-link {
    color: #2196F3;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}

.header-mail,
.header-tel{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;

    transition-property: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail svg,
.header-tel svg {
    fill: #757575;
    
    transition-property: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: #2196F3;
}

.header-mail:hover svg,
.header-mail:focus svg,
.header-tel:hover svg,
.header-tel:focus svg {
    fill: #2196F3;
}

.envelope-icon{
    width: 16px;
    height: 12px;
    margin-right:10px;
}

.smartphone-icon{
    width: 16px;
    height: 12px;
    margin-right:10px;
}